<div class="col-sm-12 col-md-12 col-lg-12">
    <div class="row">
        <label class="col-sm-6 col-md-6 col-lg-6 textoerror">El número de Planilla digitado no es valido, Verifícalo.  El número de planilla no se encuentra
             registrado aún en nuestras bases de datos, por lo tanto no es posible realizar el pago con este 
             número el día de hoy. Contácta a el Operador que realizó la liquidación para verificar el número de
             planilla y fecha de pago.</label>

    </div>
</div>