<div class="col-12">

    <div class="row">
      <div class="col-7 text-center">
        <img src="assets/img/LOGOBANCO.GIF" class="imagen">
      </div>
    </div>
  
    <div class="row">
      <div class="col text-left">
        <label class="titulo">Consulta de planillas</label>
      </div>
    </div>
  
    <div class="row">
      <div class="col-7">
        <label>Esta consulta te permite confirmar el número de planilla y el valor que puedes pagar en <br>
          las oficinas del Banco AV Villas.</label>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-3">
        <label class="texto">Fecha de Consulta</label>
      </div>
      
      <div class="col-md-3 ">
        <label class="fecha"> {{date | date:'MMMM dd, yyyy hh:mm aaa'}} </label>
      </div>
    </div>
    <div class="row">
      <div class="col text-left">
        <label class="encabezadoTabla">Información Requerida</label>
      </div>
    </div>
  </div>
  