.titulo {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11pt;
    font-weight: bold;
    color: #000000;
}

.texto {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9pt;
    color: #333333;
    font-weight: bold;
    /* margin-left: -12px; */
}

.fecha {
    font-family: Arial;
    font-size: 9pt;
    color: #000000;
    font-weight: bold;
    margin-left: 25%;
}

.encabezadoTabla {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #162A45;
    font-weight: bold;
    border: 0px solid #008ED0;
    background-color: #008ED0;
}